/*
Syntaxe CSS

selector {
    vlastnost1: hodnota;
    vlastnost2: hodnota;
    vlastnost3: hodnota;
    ...
    vlastnost-n: hodnota;
}

*/

body {
    background-color: #f3419a;
}

h1 {
    color: aquamarine;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
    /*max-width: 80%;*/
    width: 80%;
    margin: 0 auto; /* Zarovnání na střed */
    background-color: rgb(190, 50, 120);
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 7px;
    padding: 0;
}

nav a {
    background-color: blueviolet;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: black;
}

.grid-container {
    display: grid;
    /*grid-template-columns: auto auto;*/
    /*grid-template-columns: 4fr 3fr;*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }